<div id="login" class="login-containers w-25 p-5 rounded">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-box" class="col-md-12">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "login-form", class: "form"}) do |f| %>
          <div class="devise-logo d-flex align-items-center justify-content-center fs-3 pb-2">
            <span class="fw-lighter">Log in</span>
            |
            <span class="fw-bolder">XukaBot</span>
          </div>
          <div class="form-group">
            <label for="email">Email:</label><br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="password">Password:</label><br>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
          <div class="form-group">
            <% if devise_mapping.rememberable? %>
            <label for="remember-me">
              <span>
                <%= f.check_box :remember_me %>
              </span>
              <span>Remember me</span>
            </label><br>
            <% end %>
          </div>
          <div class="form-action d-block pt-2">
            <button type="submit" class="btn btn-md btn-dark w-100 d-flex justify-content-center align-items-center">
              <i class="fas fa-sign-in-alt pe-1"></i>
              <span>Log in</span>
            </button>
          </div>
          <div id="register-link" class="text-right pt-2">
            <%= render "admins/shared/links" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
