<div class="login-containers p-5 rounded">
  <h2>Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, "New password" %><br />
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-action d-block pt-2">
      <button type="submit" class="btn btn-md btn-dark w-100 d-flex justify-content-center align-items-center">
        <i class="fas fa-exchange-alt pe-1"></i>
        <span>Change my password</span>
      </button>
    </div>
    <%= render "admins/shared/error_messages", resource: resource %>
  <% end %>

  <div id="register-link" class="text-right pt-2">
    <%= render "admins/shared/links" %>
  </div>
</div>
