<div class="login-containers w-25 p-5 rounded">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "admins/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-action d-block pt-2">
      <button type="submit" class="btn btn-md btn-dark w-100 d-flex justify-content-center align-items-center">
        <i class="far fa-paper-plane pe-1"></i>
        <span>Send me reset password instructions</span>
      </button>
    </div>
  <% end %>

  <div id="register-link" class="text-right pt-2">
    <%= render "admins/shared/links" %>
  </div>
</div>
