<ul class="menu">
  <div class="menu-header">
    <i class="fas fa-bars header-icon"></i>
    <span>Xuka</span>
  </div>
  <li class="hr-menu"></li>
  <li class="menu-item active">
    <%= link_to "#" do %>
      <i class="fas fa-home menu-icon"></i>
      <span class="menu-text">Dashboard</span>
    <% end %>
  </li>
  <li class="menu-item">
    <%= link_to "#" do %>
      <i class="fab fa-discord menu-icon"></i>
      <span class="menu-text">Bot</span>
    <% end %>
  </li>
  <li class="menu-item">
    <%= link_to "#" do %>
      <i class="fas fa-question menu-icon"></i>
      <span class="menu-text">Question</span>
    <% end %>
  </li>
  <li class="menu-item">
    <%= link_to "#" do %>
      <i class="fas fa-star menu-icon"></i>
      <span class="menu-text">ScoreBoard</span>
    <% end %>
  </li>
  <li class="menu-item">
    <%= link_to "#" do %>
      <i class="fas fa-user-cog menu-icon"></i>
      <span class="menu-text">Admin Setting</span>
    <% end %>
  </li>
  <div class="menu-item">
    <%= link_to destroy_admin_session_path do %>
      <i class="fas fa-sign-out-alt menu-icon"></i>
      <span class="menu-text">Logout</span>
    <% end %>
  </div>
</ul>

